<style type="text/css">
    .button_base {
        font-size: 10px;
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
        display: inline-block;
        position: relative;
        text-decoration: none;
        color: #fff;
        text-transform: capitalize;
        border-radius: 4px;
        overflow: hidden;
    }

    .b01_simple_rollover {
        color: #fff;
        border: #737373 solid 1px;
        padding: 6px;
        background-color: #8d8d8d;
    }

    .b01_simple_rollover:hover {
        color: #ffffff;
        background-color: #666666;
    }
</style>

<div class = "panel panel-default" style = "width:80%;margin-left: 50px;margin-right: 50px">
    <div class = "panel-heading" style = "">
        <h1>小说名字</h1>
        一句话描述
        <br>
        作者
        <br>
        更新时间
        <br>
        标签
        <br>
        简介
    </div>

    <ul class = "list-group">
        <li class = "list-group-item" style = "">
            <a href = "#" class = "btn btn-sm btn-default" style = "font-size: 10px">开始阅读</a>
            <a href = "#" class = "btn btn-sm btn-default" style = "font-size: 10px">章节目录</a>
        </li>
    </ul>
</div>

<div class = "panel panel-default" style = "width: 80%; margin-left: 50px; margin-right: 50px">
    <div class = "panel-heading" style = "">章节目录</div>
    <ul class = "list-group">
        <li class = "list-group-item" style = "">
            <a href = "ContentDetail" class = "button_base b01_simple_rollover">章节名字</a>
        </li>
    </ul>
</div>