<div class = "nav" style = "padding-top: 10px;">
    <a class = "navbar-brand" href = "index">
        <img style = "width: 30px; height: 30px" src = "images/pic.jpg">
    </a>
    <a class = "navbar-brand" href = "index">
        能力有限公司
    </a>
    <ul class = "nav nav-tabs" >
        <li><a href = "Statuses">动态</a></li>
        <li><a href = "Library">文库</a></li>
        <li><a href = "Forum">论坛</a></li>
        <li><a href = "login">登录</a></li>
        <li><a href = "register" >注册</a></li>
    </ul>
</div>