{{>DropdownLink}}
    <div id = "mianban" class = "panel panel-default" style = "width: 80%; margin-left: 50px; margin-right: 50px">
        <table width = "100%" class = "table " style = "border-collapse: separate; border-spacing: 0px 0px;">
            <tr>
                <td style = "font-weight: bold; text-align: left; margin: 0px">小说名字
                    <p style = "font-size: 12px; text-align: left; margin: 0px">一句话描述</p>
                    <p style = "font-size: 12px; text-align: left; margin: 0px">第十四章</p>
                </td>
                <td>
                    <p style = "text-align: right; margin: 0px">作者名字</p>
                    <p style = "text-align: right; margin: 0px">
                        <i style = "font-size: 12px;" class = "iconfont icon-zishutongji">小说字数统计</i>
                        <i style = "font-size: 12px;" class = "iconfont icon-liulan-copy">浏览数统计</i>
                        <i style = "font-size: 12px;" class = "iconfont icon-pinglun">评论数</i>
                    </p>
                    <p style = "font-weight: 800; font-size: 12px; text-align: right; margin: 0px">
                        <span>标签</span>
                    </p>
                </td>
            </tr>
        </table>
    </div>
{{>Pag}}